/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* All css */
section{
    width: 100%;
    float: left;
    height: 125vh;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Home Css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
  
  .header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffac4266,
    transparent);
    transition: .5s;
  }
  
  .header:hover:after {
    left: 100%;
  
  }
  
  .logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  .logo:hover {
    font-size: 2rem;
    color: #ffac42;
    text-decoration: none;
    font-weight: 600;
  }
  
  #check {
    display: none;
  }
  
  .navbar a {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .btnLogin-popup {
  width: 100px;
  height: 40px;
  background: #ffac42;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  color: #000000;
  font-weight: 500;
  margin-left: 50px;
  transition: .5s;
}
  
  .icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  /* BREAKPOINTS */
  @media (max-width: 992px) {
    .header {
      padding: 1.3rem 5%;
    }
  }
  
  @media (max-width: 768px) {
    .icons {
      display: inline-flex;
    }
  
    #check:checked~.icons #menu-icon {
      display: none;
    }
  
    .icons #close-icon {
      display: none;
    }
  
    #check:checked~.icons #close-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(0, 0, 0, .1);
      backdrop-filter: blur(50px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
      overflow: hidden;
      transition: .3s ease;
    }
  
    #check:checked~.navbar {
      height: 17.7rem;
    }
  
    .navbar a {
      display: block;
      font-size: 1.1rem;
      margin: 1.5rem 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: .3s ease;
    }
  
    #check:checked~.navbar a {
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(.15s * var(--i));    
    }
  }
  
#home {
    height: 100vh;
    background: url('asset/img/background/moon_craters_full_moon_997108_1280x1024.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffac42;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #ffac42;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    color: #7e7d7d;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 354px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ffac42;
    border: 2px solid #ffac42;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #ffac42;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ffac42;
}

.btn-box a:nth-child(2):hover {
    color: #000000;
}

.btn-box a:nth-child(2)::before {
    background: #ffac42;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffac42;
    border-radius: 50%;
    font-size: 20px;
    color: #ffac42;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffac42;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/* About Us Css */
#aboutus{
  background: rgba(0, 0, 0, .8);
}
.text-blk {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 20px;
    color: #b2b2b2;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    font-weight: 600;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /* background-color: #7171716e; */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 0 0 0;
  }
  
  .responsive-container-block.Container {
    max-width: 1320px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .responsive-container-block.leftSide {
    width: auto;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    flex-direction: column;
    position: static;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 300px;
  }
  
  .text-blk.heading {
    font-size: 40px;
    line-height: 42px;
    font-weight: 800;
    color: #ffac42;
    margin-top: -135px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    text-align: justify;
    position: absolute;
  }
  
  .text-blk.btn {
    color: rgb(0, 178, 235);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    cursor: pointer;
  }
  
  .responsive-container-block.rightSide {
    width: 675px;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    height: 700px;
    min-height: auto;
  }
  
  .number1img {
    margin-top: 49.5%;
    margin-right: 80%;
    margin-bottom: 35%;
    margin-left: -91.5px;
    height: 35%;
    width: 35%;
    position: absolute;
    border-radius: 15px;
  }
  
  .number2img {
    margin-top: 49.5%;
    margin-right: 42%;
    margin-bottom: 42%;
    margin-left: 22%;
    width: 54.5%;
    height: 35%;
    position: absolute;
    border-radius: 15px;
  }
  
  .number3img {
    width: 26%;
    height: 42%;
    position: absolute;
    margin-top: 5.5%;
    margin-right: 64%;
    margin-bottom: 30%;
    margin-left: 50.5%;
    border-radius: 15px;
  }
  
  .number4img {
    width: 60%;
    height: 35%;
    position: absolute;
    margin-top: 12.8%;
    margin-right: 27%;
    margin-bottom: 0px;
    margin-left: -10%;
    border-radius: 15px;
  }
  
  .number5img {
    position: absolute;
    width: 35%;
    height: 50%;
    margin-top: 55%;
    margin-right: 27%;
    margin-bottom: 41%;
    margin-left: 77%;
    border-radius: 15px;
  }
  
  .number6img {
    position: absolute;
    margin-top: 18.1%;
    margin-right: 3%;
    margin-bottom: 67%;
    margin-left: 77%;
    width: 35%;
    height: 35%;
    border-radius: 15px;
  }
  
  .text-blk.subHeading {
    font-size: 14px;
    line-height: 25px;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  
    .text-blk.heading {
      text-align: center;
      max-width: 370px;
    }
  
    .text-blk.subHeading {
      text-align: center;
    }
  
    .responsive-container-block.leftSide {
      align-items: center;
      max-width: 480px;
    }
  
    .responsive-container-block.rightSide {
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 100px;
      margin-left: auto;
    }
  
    .responsive-container-block.rightSide {
      margin: 0 auto 70px auto;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block.rightSide {
      width: 450px;
      height: 450px;
    }
  
    .responsive-container-block.leftSide {
      max-width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .number1img {
      display: none;
    }
  
    .number2img {
      display: none;
    }
  
    .number3img {
      display: none;
    }
  
    .number5img {
      display: none;
    }
  
    .number6img {
      display: none;
    }
  
    .responsive-container-block.rightSide {
      width: 100%;
      height: 250px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 100px;
      margin-left: 0px;
    }
  
    .number4img {
      position: static;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      width: 100%;
      height: 100%;
    }
  
    .text-blk.heading {
      font-size: 25px;
      line-height: 40px;
      max-width: 370px;
      width: auto;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 25px;
    }
  
    .responsive-container-block.leftSide {
      width: 100%;
      }
    }

/* Galeri Css */

button {
    border: none;
    background: none;
    cursor: pointer;
  }
  button:focus {
    outline: none;
    border: none;
  }

  .paragraf-galeri {
    text-align: center;
    font-size: 1em;
    margin-top: -700px;
    margin-left: -10px;
    color: #ffac42;
    font-weight: 600;
  }

  .paragraf-galeri p {
    font-size: 1.1em;
    font-weight: 400;
    color: #b2b2b2;
  }
  
  .app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    background: #000000;
  }
  .app__bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
  }
  .app__bg__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 180%;
    height: 180%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
  }
  .app__bg__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .app__bg__image.current--image {
    opacity: 1;
    --image-translate-offset: 0;
  }
  .app__bg__image.previous--image, .app__bg__image.next--image {
    opacity: 0;
  }
  .app__bg__image.previous--image {
    --image-translate-offset: -25%;
  }
  .app__bg__image.next--image {
    --image-translate-offset: 25%;
  }
  
  .cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .cardList__btn {
    --btn-size: 55px;
    margin-left: -20px;
    margin-right: -20px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .cardList__btn.btn--left {
    left: -2%;
  }
  .cardList__btn.btn--right {
    right: -2%;
  }
  .cardList__btn .icon {
    width: 100%;
    height: 100%;
  }
  .cardList__btn .icon svg {
    width: 100%;
    height: 100%;
  }
  .cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
    border-color: #000;
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: #000000; */
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
  }
  .card__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .card__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card.current--card {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
  }
  .card.previous--card {
    --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
    --card-rotation-offset: 25deg;
  }
  .card.next--card {
    --card-translateX-offset: calc(var(--card-width) * 1.1);
    --card-rotation-offset: -25deg;
  }
  .card.previous--card, .card.next--card {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  .infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;
  }
  .infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--card-height) / 8);
    margin-left: calc(var(--card-width) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
  }
  .info .text {
    position: relative;
    font-family: "Montserrat";
    font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
    white-space: nowrap;
    color: #fff;
    width: fit-content;
  }
  .info .name,
  .info .location {
    text-transform: uppercase;
  }
  .info .location {
    font-weight: 800;
  }
  .info .location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
  }
  .info .location::before, .info .location::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
  }
  .info .location::before {
    top: 50%;
    width: 20px;
    height: 5px;
  }
  .info .location::after {
    bottom: 0;
    width: 60px;
    height: 2px;
  }
  .info .description {
    --text-size-offset: 0.065;
    font-weight: 500;
  }
  .info.current--info {
    opacity: 1;
    display: block;
  }
  .info.previous--info, .info.next--info {
    opacity: 0;
    display: none;
  }
  
  .loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
  }
  .loading__wrapper .loader--text {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 1.4rem;
  }
  .loading__wrapper .loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
  }
  .loading__wrapper .loader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  @media only screen and (min-width: 800px) {
    :root {
      --card-width: 300px;
      --card-height: 400px;
    }
  }
  .support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
  }
  .support a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
  }
  .support a:hover {
    transform: scale(1.1);
  }


/* Contact Css */
.landing_page * {
  font-family: 'Nunito', sans-serif;
}

.landing_page .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.landing_page .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.landing_page .responsive-cell-block {
  min-height: 75px;
}

.landing_page .responsive-container-block.container {
  max-width: 1320px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  position: relative;
}

.landing_page .form-box {
  background-color: transparent;
  color: white;
  padding-top: 35px;
  padding-right: 33px;
  padding-bottom: 35px;
  padding-left: 33px;
  max-width: 506px;
}

.landing_page .text-blk.contactus-head {
  font-size: 30px;
  line-height: 40px;
  color: #ffac42;
}

.landing_page .text-blk.contactus-subhead {
  color: #7e7d7d;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-left: 0px;
}

.landing_page .input {
  width: 100%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  padding-top: 1px;
  padding-right: 125px;
  padding-bottom: 1px;
  padding-left: 22.5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: transparent;
  padding: 1px 12.5px 1px 22.5px;
}

.landing_page .textinput {
  width: 100%;
  height: 233px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 18px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  background-color:transparent;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.landing_page .submit-btn {
  width: 100%;
  height: 56px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffac42;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #ffac42;
  border-right-color: #ffac42;
  border-bottom-color: #ffac42;
  border-left-color: #ffac42;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.landing_page .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
  display: flex;
  justify-content: center;
}

.landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.landing_page .text-blk.section-subhead {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 420px;
  font-size: 18px;
  color: #7e7d7d;
}

.landing_page .text-blk.section-head {
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  max-width: 450px;
  color: #ffac42;
}

.landing_page .img {
  width: 31px;
  height: 31px;
}

.landing_page .responsive-container-block.big-container {
  background-color: rgb(0, 0, 0);
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  position: relative;
}

.landing_page .bg-img {
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

@media (max-width: 768px) {
  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    justify-content: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 500px) {
  .landing_page .text-blk.section-head {
    font-size: 26px;
    line-height: 40px;
  }

  .landing_page .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .landing_page .text-blk.section-subhead {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 16px;
  }

  .landing_page .form-box {
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
  }

  .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    margin: 0 0 30px 0;
  }

  .landing_page .input {
    height: 45px;
  }

  .landing_page .text-blk.contactus-head {
    font-size: 24px;
    line-height: 34px;
  }
}

/* Footer Css Here */

footer p{
  font-family: 'Poppins', sans-serif;
}

footer p:nth-child(1){
  font-size: 25px;
  font-weight:bold;
  color: #ffac42;
  line-height:10px;
}

footer p:nth-child(2){
  font-size: 12px;
  color:#b2b2b2;
  width:600px;
  text-align: center;
}

footer{
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, .8);
}

.social-icons a{
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#e6e3e3;
  text-decoration: none;
  margin:20px 10px;
  border-radius:50%;
}

.social-icons{
  display: flex;
   
}

.social-icons i,.social i{
  color:#000000;
}

.social-icons a:hover{
  background-color:#ffac42;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  transition:all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i{
  color:#000000;
  transition:all ease 0.5s;
}

.copyright{
  color:#b2b2b2;
  font-size: 15px;
  position: absolute;
  left:50%;
  bottom:10px;
  transform: translateX(-50%);
}
.social{
  position: fixed;
  top:50%;
  right:0px;
  transform:translateY(-50%);
}

.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  margin:0px;
  padding: 0px;
  line-height:0px;
  background-color:#ffffff;
  border: .1px solid #fff;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  text-decoration: none;
}

.social a:hover{
  background-color:#ffac42;
  transition:all ease 0.5s;
}

.social i{
  font-size:20px;
  color:#000000;
}